{% extends 'base.html.twig' %}


{% block title %}
	Detail Matériel
{% endblock %}

{% block titlePage %}
	<h1>
		Détail du stock Campus Amiens
	</h1>
{% endblock %}

{% block body %}
	<section class="material_history">

		<form class="searchForm">
            <input type="search" id="searchInput" name="search" class="search-input" placeholder="Rechercher...">
		 	<div class = "serach_icon">
				<img class = "serach_img" src="{{asset("icon/search_icon.svg")}}" alt="search icon">
			</div>
        </form>

		<div class="table_scroll">
			<table>
				<thead>
					<tr>
						<th>Element</th>
						<th>N° étiquette</th>
						<th>N° de serie</th>
						<th>
							Disponibilité
						</th>
						<th>Emprunteur</th>
						<th>Commentaire</th>
					</tr>
				</thead>
				<tbody class = "table_body">
					{% for material in materials %}
						<tr>
							<td>{{ material.name }}</td>
							<td>
								{{material.tagNumber}}
							</td>
							<td>
								{{material.serialNumber}}
							</td>
							<td>
								{% if material.relatedTo is not empty %}
									Disponible
								{% else %}
									Pas Disponible
								{% endif %}
							</td>
							<td>
								{% if material.relatedTo is not empty and material.relatedTo.first.student.firstname %}
									{{ material.relatedTo.first.student.firstname }}
								{% else %}
									-
								{% endif %}
							</td>
							<td>{{ material.comment }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

	</section>
{% endblock %}
