{% extends 'base.html.twig' %}

{% block title %}Hello BorrowingReturnController!
{% endblock %}

{% block titlePage %}
	<h1>
		Emprunter/Rendre du matériel Campus Amiens
	</h1>
{% endblock %}

{% block body %}
        <div class="edit-mat">
            <h1>Emprunter/Rendre du matériel</h1>

            {{ form_start(borrowing_form, {'attr': {'class': 'custom-form'}}) }}

            <div class="form-group">
                {{ form_label(borrowing_form.relateTo, 'Élément emprunté (n° étiquette)') }}
                {{ form_widget(borrowing_form.relateTo, {'attr': {'class': 'custom-input'}, 'placeholder': 'Numéro d\'étiquette'}) }}
            </div>

            <div class="form-group">
                {{ form_label(borrowing_form.borrow, 'Emprunteur (personne / salle)') }}
                {{ form_widget(borrowing_form.borrow, {'attr': {'class': 'custom-input'}, 'placeholder': 'Nom de l\'emprunteur'}) }}
            </div>

            <div class="form-group">
                {{ form_label(borrowing_form.borrowAt, 'Date d\'emprunt') }}
                {{ form_widget(borrowing_form.borrowAt, {'attr': {'class': 'custom-input'}, 'placeholder': 'Sélectionnez une date' , 'type' : 'date'} ) }}
            </div>

            <div class="form-group">
                {{ form_label(borrowing_form.comment, 'Commentaire') }}
                {{ form_widget(borrowing_form.comment, {'attr': {'class': 'custom-input'}, 'placeholder': 'Ajoutez un commentaire'}) }}
            </div>

            <div class="button_borrowing">
                <button type="submit" class="custom-button"> Ajouter </button>
            </div>

            {{ form_end(borrowing_form) }}
        </div>


        <div class="edit-mat">
            <h1>Rendre du matériel</h1>

            {{ form_start(returning_form , {'attr': {'class': 'custom-form'}}) }}

            <div class="form-group">
                {{ form_label(returning_form .relateTo, 'Élément emprunté (n° étiquette)') }}
                {{ form_widget(returning_form .relateTo, {'attr': {'class': 'custom-input'}, 'placeholder': 'Numéro d\'étiquette'}) }}
            </div>

            <div class="form-group">
                {{ form_label(returning_form .borrow, 'Emprunteur (personne / salle)') }}
                {{ form_widget(returning_form .borrow, {'attr': {'class': 'custom-input'}, 'placeholder': 'Nom de l\'emprunteur'}) }}
            </div>

            <div class="form-group">
                {{ form_label(returning_form .borrowAt, 'Date de retour') }}
                {{ form_widget(returning_form .borrowAt, {'attr': {'class': 'custom-input'}, 'placeholder': 'Sélectionnez une date' , 'type' : 'date'} ) }}
            </div>

            <div class="form-group">
                {{ form_label(returning_form .comment, 'Commentaire') }}
                {{ form_widget(returning_form .comment, {'attr': {'class': 'custom-input'}, 'placeholder': 'Ajoutez un commentaire'}) }}
            </div>

            <div class="button_borrowing">
                <button type="submit" class="custom-button"> Ajouter </button>
            </div>

            {{ form_end(returning_form ) }}
        </div>

{% endblock %}
